{% extends "NelmioApiDocBundle::layout.html.twig" %}

{% block content %}
    {% for section, sections in resources  %}
        {% set oneAccessSection = false %}
        {% if section != '_others' %}
            <div class="section" id="sectionDoc{{loop.index0}}">
            <h1>{{ section }}</h1>
        {% endif %}
        {% for resource, methods in sections %}
            <li class="resource">
                <div class="heading">
                    {% if section == '_others' and resource != 'others' %}
                        <h2>{{ resource }}</h2>
                    {% elseif resource != 'others' %}
                        <h2>{{ resource }}</h2>
                    {% endif %}
                </div>
                <ul class="endpoints">
                    <li class="endpoint">
                        <ul class="operations">
                            {% for data in methods %}
                                {% if not authentication.show_methods %}
                                    {% set access = false %}

                                    {% if not data.authentication or not app.security.getToken() or data.roles is empty %}
                                        {% set access = true %}
                                        {% set oneAccessSection = true %}
                                    {% else %}
                                        {% for role in data.roles %}
                                            {% if is_granted(role) %}
                                                {% set access = true %}
                                                {% set oneAccessSection = true %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if (access == true) %}
                                        {% include 'NelmioApiDocBundle::method.html.twig' %}
                                    {% endif %}
                                {% else %}
                                    {% include 'NelmioApiDocBundle::method.html.twig' %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </li>
        {% endfor %}
        {% if section != '_others' %}
            </div>
        {% endif %}

        {% if not oneAccessSection and not authentication.show_methods %}
            <script type="text/javascript">
                $("#sectionDoc{{loop.index0}}").remove();
            </script>
        {% endif %}
    {% endfor %}
{% endblock content %}
